<div *ngIf="gameTable">
    <form class="col-md-8 container" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="page-header">
            <span>STÓŁ {{ gameTable.Name }} GRACZA {{ gameTable.CreatedGamerNickname }}</span>
        </div>
            
        <div *ngIf="gameTable.TableBoardGameList" class="form-group row">
            <label class="col-md-4">Wybrane pozycje</label>
            <div class="col-md-8">
                <ul>
                    <li *ngFor="let boardGame of gameTable.TableBoardGameList" class="form-group row" style="margin: auto;">
                        <span class="col-md-4">
                            {{boardGame.BoardGameName}}
                        </span>
                        <div class="col-md-4" *ngIf="!isCurrentGamer">
                            <button (click)="deactivate(boardGame); $event.stopPropagation()" class="btn delete-icon">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group row" *ngIf="isCurrentGamer">
            <label class="col-md-4">Dodaj grę</label>
            <div class="col-md-8" *ngIf="availableTableBoardGames && availableTableBoardGames.length > 0">
                <div *ngIf="availableTableBoardGames && availableTableBoardGames.length > 0">
                    <select class="form-control" #selectedTableBoardGame>
                        <option *ngFor="let tableBoardGame of availableTableBoardGames"
                                [value]="tableBoardGame.BoardGameId">
                            {{tableBoardGame.BoardGameName}}
                        </option>
                    </select>
                    <button class="btn btn-success" (click)="addTableBoardGame(selectedTableBoardGame.value)">
                        Dodaj
                    </button>
                </div>
            </div>
            <div class="col-md-8" *ngIf="!availableTableBoardGames || availableTableBoardGames.length === 0">
                Brak dostępnych gier dla tego stołu
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="minPlayers">Minimalna liczba graczy</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="minPlayers" name="minPlayers"
                        [(ngModel)]="gameTable.MinPlayers" #minPlayersCtrl="ngModel" required [readonly]="!isCurrentGamer" />
                <span class="form-control-feedback" *ngIf="minPlayersCtrl.invalid && minPlayersCtrl.touched">
                    Podaj minimalną liczbę graczy!
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="maxPlayers">Maksymalna liczba graczy</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="maxPlayers" name="maxPlayers"
                        [(ngModel)]="gameTable.MaxPlayers" #maxPlayersCtrl="ngModel" required [readonly]="!isCurrentGamer" />
                <span class="form-control-feedback" *ngIf="maxPlayersCtrl.invalid && maxPlayersCtrl.touched">
                    Podaj maksymalną liczbę graczy!
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="city">Miasto</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="city" name="city"
                        [(ngModel)]="gameTable.City" #cityCtrl="ngModel" required [readonly]="!isCurrentGamer" />
                <span class="form-control-feedback" *ngIf="cityCtrl.invalid && cityCtrl.touched">
                    Podaj miasto!
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="street">Ulica</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="street" name="street"
                        [(ngModel)]="gameTable.Street" #streetCtrl="ngModel" required [readonly]="!isCurrentGamer" />
                <span class="form-control-feedback" *ngIf="streetCtrl.invalid && streetCtrl.touched">
                    Podaj ulicę!
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4" for="isPrivate">Prywatny</label>
            <div class="col-md-8" style=" display: inline-grid">
                <input class="form-control" type="checkbox" id="isPrivate" name="isPrivate"
                        [(ngModel)]="gameTable.IsPrivate" #isPrivateCtrl="ngModel" required [disabled]="!isCurrentGamer" />
            </div>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" (click)="goBack()">Powrót</button>
            <button *ngIf="isCurrentGamer" class="btn btn-success" type="submit" [disabled]="form.invalid">
                Zapisz
            </button>
        </div>
    </form>
</div>