<form class="col-md-8 container" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="page-header">
        NOWY WYNIK GRY
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label">Gra</label>
        <div class="col-md-8">
            <div *ngIf="availableBoardGames && availableBoardGames.length > 0">
                <select class="form-control" [(ngModel)]="selectedBoardGame" #boardGameCtrl="ngModel" name="boardGame" required>
                    <option *ngFor="let boardGame of availableBoardGames"
                            [ngValue]="boardGame">
                        {{boardGame.Name}}
                    </option>
                </select>
                <span class="form-control-feedback" *ngIf="boardGameCtrl.invalid && boardGameCtrl.touched">
                    Wybierz grę!
                </span>
            </div>
            <div *ngIf="!availableBoardGames || availableBoardGames.length === 0">
                Brak dostępnych gier
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label">Gracz</label>
        <div class="col-md-8">
            <div *ngIf="availableGamers && availableGamers.length > 0">
                <select class="form-control" [(ngModel)]="selectedGamer" #gamerCtrl="ngModel" name="gamer" required>
                    <option *ngFor="let gamer of availableGamers"
                            [ngValue]="gamer" >
                        {{gamer.Nickname}}
                    </option>
                </select>
                <span class="form-control-feedback" *ngIf="gamerCtrl.invalid && gamerCtrl.touched">
                    Wybierz gracza!
                </span>
            </div>
            <div *ngIf="!availableGamers || availableGamers.length === 0">
                Brak dostępnych graczy
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="points">Punkty</label>
        <div class="col-md-8">
            <input class="form-control" type="number" id="points" name="points"
                   [(ngModel)]="points" #pointsCtrl="ngModel" required/>
            <span class="form-control-feedback" *ngIf="pointsCtrl.invalid && pointsCtrl.touched">
                Podaj liczbę punktów!
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="place">Miejsce</label>
        <div class="col-md-8">
            <input class="form-control" type="number" id="place" name="place"
                   [(ngModel)]="place" #placeCtrl="ngModel" required/>
            <span class="form-control-feedback" *ngIf="placeCtrl.invalid && placeCtrl.touched">
                Podaj miejsce!
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="playersNumber">Liczba graczy</label>
        <div class="col-md-8">
            <input class="form-control" type="number" id="playersNumber" name="playersNumber"
                   [(ngModel)]="playersNumber" #playersNumberCtrl="ngModel" required/>
            <span class="form-control-feedback" *ngIf="playersNumberCtrl.invalid && playersNumberCtrl.touched">
                Podaj miejsce!
            </span>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="button" class="btn btn-default" (click)="goBack()">
            Powrót
        </button>
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">
            Dodaj
        </button>
    </div>
</form>