<div class="col-md-8 container">
    <br/>
    Aplikacja BoardGamesNook została utworzona na potrzeby konkursu <b>Daj Się Poznać 2017</b>.
    <br/>
    Jest ona przeznaczona dla wielbicieli gier planszowych.
    <br/>
    Użytkownicy mogą tworzyć swoje zbiory gier planszowych, zapisywać wyniki ostatnich gier oraz organizować rozgrywki z innymi użytkownikami.
    <br/>
    Jeśli chcesz dołączyć się do tworzenia tej zacnej aplikacji lub zgłosić uwagi, skontaktuj się z autorką <a href="mailto:weronika.tobor@op.pl?Subject=BoardGamesNook%20aplikacja">mailowo</a>.
</div>