<nav style="margin-bottom: 5px;">
    <div class="container">
        <div class="navbar">
            <a class="navbar" href="" style="color: black; font-weight: bold; text-align: left">
                <span class="font-weight-bold" align="center">
                    BoardGamesNook <br />Kącik gier planszowych
                </span>
            </a>
            <div style="align-content: right">
                <b>
                    <a href="" routerLink="/gamers/{{currentGamer?.Nickname}}" routerLinkActive="active" style="color: black; font-weight: bold; text-decoration: underline; font-size: 15px; padding-right: 5px;">
                        {{ user.Name }}
                    </a>
                </b>
                <img src="{{ user.ImageUrl }}" height="50" width="50" />
                <button class="btn btn-default" (click)="logOut()" style="font-weight: bold">Wyloguj</button>
            </div>

        </div>
        <div class="navbar" id="mainNavbar" align="center">
            <ul class="nav">
                <li>
                    <a href="" routerLink="/gamers" routerLinkActive="active" class="btn btn-info" style="margin: 5px; font-weight: bold;">
                        Gracze
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/boardGames" routerLinkActive="active" class="btn btn-info" style="margin: 5px; font-weight: bold;">
                        Gry
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/gamerBoardGames/{{currentGamer?.Nickname}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-info" style="margin: 5px; font-weight: bold;">
                        Moje Gry
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/gameResults" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-info" style="margin: 5px; font-weight: bold;">
                        Wyniki
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/gamerGameResults/{{currentGamer?.Nickname}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="btn btn-info" style="margin: 5px; font-weight: bold;">
                        Moje Wyniki
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/gameTables" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-info" style="margin: 5px; font-weight: bold; ">
                        Stoły do gier
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/gamerGameTablesWithoutResults/{{currentGamer?.Nickname}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-info" style="margin: 5px; font-weight: bold; ">
                        Moje stoły do gier
                    </a>
                </li>
                <li>
                    <a href="" routerLink="/about" routerLinkActive="active" class="btn btn-default" style="margin: 5px; font-weight: bold;">
                        O stronie
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>
