<div *ngIf="gamerBoardGames?.length > 0; then gbgExists else gbgNotExists"></div>

<ng-template #gbgExists>
    <span class="font-weight-bold">NOWA GRA GRACZA {{ gamerBoardGames[0].CreatedGamerNickname }}</span>

    <select #boardGame (change)="selectBoardGame(boardGame.value)">
        <option *ngFor="let gamerBoardGame of gamerBoardGames"
                [value]="gamerBoardGame.BoardGameId">
            {{gamerBoardGame.BoardGameName}}
        </option>
    </select>
    <br/>
    <button type="button" class="btn btn-default" (click)="goBack()">Powrót</button>
    <button class="btn btn-success" (click)="add();">
        Dodaj
    </button>
</ng-template>

<ng-template #gbgNotExists>
    Brak dostępnych gier
</ng-template>