<div *ngIf="gamerBoardGame">
    <form class="col-md-8 container">
      <div class="page-header">
          GRA {{gamerBoardGame.BoardGameName}} GRACZA {{gamerBoardGame.GamerNickname}}
      </div>
      <h4>
          <a href="https://boardgamegeek.com/boardgame/{{gamerBoardGame.BGGId}}" target="_blank">
              <img src="{{gamerBoardGame.ImageUrl}}"/>
          </a>
      </h4>
      <p>
          <button type="button" class="btn btn-default" (click)="goBack()">Powrót</button>
      </p>
    </form>
</div>
