<div *ngIf="gamerBoardGames">
    <form class="col-md-8 container">
        <div class="page-header">
            LISTA GIER GRACZA {{ selectedGamerNickname }}
        </div>
        <ul>
            <li *ngFor="let gamerBoardGame of gamerBoardGames" (click)="onSelect(gamerBoardGame)">
                <span class="hidden">{{ gamerBoardGame.Id }}</span>
                <span>{{ gamerBoardGame.BoardGameName }}</span>
                    <button *ngIf="isCurrentGamer" (click)="deactivate(gamerBoardGame); $event.stopPropagation()" class="btn delete-icon">x</button>
            </li>
        </ul>
        <div *ngIf="isCurrentGamer">
            <button class="btn btn-primary" (click)="gotoAdd()">Dodaj nową grę</button>
        </div>
        <div *ngIf="selectedGamerBoardGame">
            <h4>
                <a href="https://boardgamegeek.com/boardgame/{{selectedGamerBoardGame.BGGId}}" target="_blank">
                    <img src="{{selectedGamerBoardGame.ImageUrl}}"/>
                </a>
            </h4>
            <button class="btn btn-primary" (click)="gotoDetail()">Szczegóły</button>
        </div>
    </form>
</div>
